
body, html {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.btn-get-quote, .btn-get-started, .btn-lern-more, .btn-start-now  {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: 1px solid transparent;
  transition: all .5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  line-height: 1.2;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
/* .section-inner {
  padding-top: 115px;
}
.animateDuration {
  animation-duration: 2s;
} */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  margin-right: 30px;
}
.header-content li {
  padding: 55px 15px;
}
.header-content li a {
  color: #070120;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  transition: all .5s;
}
.header-content span {
  display: inline-block;
}
.header-content i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}
.header-content li:hover a {
  color: #f55f8d;
}
.header-content li:hover span {
  animation: upToDown .3s forwards;
}
.Carousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../Images/pic2.png);
  background-position: top;
  background-size: 100%}
.Carousel-content {
  display: flex;
  align-items: center;
}
.Carousel-article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.Carousel-content li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.Carousel-content ul {
  margin-bottom: 20px;
}
.Carousel-left {
  width: 60%}
.Carousel-right {
  width: 40%}
.Carousel-banner {
  width: 570px;
  margin-left: 50px;
}
.Carousel-banner img {
  max-width: 100%;
  display: block;
}
.Carousel-article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}
.services {
  padding-bottom: 0;
  background-image: url(../Images/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services-item {
  border-radius: .5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, .1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all .5s;
}

.services-item img {
  width: 215px;
}
.services-item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.aboutUs {
  background-image: url(../Images/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
.aboutUs-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.aboutUs-left {
  width: 60%;
  position: absolute;
  left: -17%}
.aboutUs-right {
  width: 50%}
.aboutUs-left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.aboutUs-right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
.aboutUs-right p {
  margin-bottom: 15px;
}
.aboutUs-right ul {
  margin-bottom: 30px;
}
.number {
  background-image: url(../Images/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number-content {
  display: flex;
  justify-content: space-around;
}
.number-item {
  width: 25%}
.number-item i {
  font-size: 45px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number-item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number-item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
.features {
  background-image: url(../Images/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}
.features-content {
  display: flex;
}
.features-left, .features-right {
  width: 50%}
.features-banner {
  margin-right: -80px;
}
.features-banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}
.features-item {
  padding: 0 50px 30px 0;
}
.features-item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
.features-bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features-item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.features-item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}
.features-item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.portfolio {
  background-image: url(../Images/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio-item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: all .75s;
}

.portfolio-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all .75s;
}

.portfolio-icon a {
  cursor: pointer;
}
.portfolio-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all .75s;
}

.portfolio-text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.portfolio-text p {
  color: #fff;
  opacity: .7;
}
.portfolio-item img {
  width: 100%;
  height: 100%}
.portfolio-item1 {
  grid-column: 1/span 2;
}
.portfolio-item5 {
  grid-column: 1/span 2;
}
.portfolio-item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.plan {
  background-image: url(../Images/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.plan-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan-item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0, 0, 0, .1);
  border-image: 100 round;
  transition: all .5s;
}

.plan-item img {
  width: 125px;
}
.plan-item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}
.plan-item li, .plan-item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan-item li {
  font-weight: 400;
}
.plan-item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan-item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan-item li {
  padding: 5px 0;
}
.plan-item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
.testimonial {
  text-align: center;
  background-image: url(../Images/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial-content {
  min-height: 300px;
}
.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial-thumbs::after, .testimonial-thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}

.testimonial-pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx {
  opacity: 1;
}

.testimonial-comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all .5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.swiper-pagination-bullets.swiper-pagination-horizontal, .testimonial .swiper-horizontal>.swiper-pagination-bullets {
  bottom: auto;
}
.swiper-pagination-bullet-active {
  background: #f55f8d;
}
.testimonial-text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial-position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
.blog {
  background-image: url(../Images/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}
.blog-item {
  text-align: left;
  background: rgba(245, 95, 141, .1);
  border-radius: 8px;
}
.blog-header {
  position: relative;
}
.blog-header img {
  width: 100%;
  border-radius: 8px;
}
.blog-header p {
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog-body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog-body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog-footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, .05);
}
.blog-footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog-footer p:first-of-type {
  margin-right: 20px;
}
.blog-footer p:first-of-type span {
  color: #f55f8d;
}
footer {
  background-image: url(../Images/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../Images/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%}
.footer-top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
  background-image: url(../Images/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer-form, .footer-text {
  width: 50%}
.footer-text h2 {
  font-size: 28px;
  color: #262626;
}
.footer-form form {
  display: flex;
  border-radius: .5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, .1);
}
.footer-form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: .5rem 0 0 .5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all .5s;
}

.footer-form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all .5s;
  border-radius: 0 .5rem .5rem 0;
  color: #fff;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer-item {
  width: 25%}
.footer-item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer-contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer-contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.footer-item li {
  padding: .5rem 0;
}
.footer-item a {
  color: #636363;
  font-size: 16px;
  transition: all .5s;
}
.footer-item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer-copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-left span {
  color: #f55f8d;
}
.footer-copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  transition: all .5s;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all .2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

